nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    color: white;
    background-color: black;
}

nav a {
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    border-bottom: 2px solid rgb(151, 109, 29);
    padding-bottom: 4px;
}

/* Arrow down, nav */
span.arrow-down {
    position: relative;
    top: -5px;
    left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-left: 2px;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}